body{
    background-color: #E3A4E4;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: white;
}

#first-container{
    text-align: left;
    width: 50%;
    margin:100px auto 100px auto;  
    color: #881C8A;
}

    #second-container{
        text-align: left;
        width: 50%;
         margin:100px auto 100px auto;
         color: #881C8A;
    }

   button{
       background-color: rgb(207, 26, 26);
    
   }

   